
/* Article Styles */
.article main {
	display: flex;
	flex: 1;
	flex-direction: row;
	max-width: 1359px;
	margin: 1.5em auto;
}

.article main article {
	min-width: calc(980px - 4em - 301px);
	width: auto;
	margin: 0 1em;
}

.article main article p {
	margin: 1em 0;
}

.article main article h1 {
	font-size: 3em;
	line-height: 1em;
}

.article main article .overline {
	text-transform: uppercase;
	font-size: .75em;
	color: #903;
	font-weight: bold;
}

.article main article .byline {
	margin-bottom: 1em;
	font-size: .75em;
	color: #4cedff;
}

main article .byline a {
	color: #4cedff;
}

.byline .byttl {
	display: block;
	color: #111;
}

.article .article-body {
	display: flex;
	flex: 1;
	margin-top: 1em;
}

.article-body aside {
	width: 60px;
	margin: 1em 1.5em 0 1.5em;
	overflow: hidden;
	text-align: center;
	position: -webkit-sticky;
  	position: sticky;
  	top: .5em;
	align-self: flex-start;
	display: block;
}

.article-body .social li img,
.article-body .tools li img {
	height: 32px;
}

.article-tools label {
	display: none;
}

.article-body aside ul{
	border: 1px solid #aaa;
}

.article-body aside .tools {
	background-color: #ddd;
	border-top: 0;
}

.article-body aside li {
	padding: .5em 0;
}

.article-body aside li:first-child {
	padding-top: 1em;
}

.article-body aside li:last-child {
	padding-bottom: 1em;
}
.article-body section {
	width: calc(100% - 40px - 4em);
}

.article-body section p {
	line-height: 1.25em;
}

main article header {
	width: 100%;
}

.article main figcaption {
	text-align: center;
}

.article-body section figure {
	width: 250px;
	margin: 1em 0 2em 1em;
	float: right;
}

.article.alternate .byline {
	display: flex;
	font-size: 1em;
}

.article.alternate .byline img {
	width: 70px;
	height: 70px;
	margin-right: 1em;
	border: 1px solid #ccc;
}

.article.alternate .byline {
	color: #111;
}

.article.alternate .byline .byttl {
	display: inline;
}

.article.alternate .column-name {
	font-weight: bold;
	color: #666;
	font-size: 2em;
	margin-top: .25em;
	margin-bottom: .25em;
}

.article.alternate .article-body {
	border-top: 1px solid #ccc;
}

@media screen and (min-width: 980px) {
	.article #more-stories {
		display: flex;
	}
}