body {
	margin: 0 auto;
	z-index: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

body > section,
body > main {
	margin: 1em;
}

/* Anchor tags */
a {
	text-decoration: none;
	color: #111;
}

a:hover {
	text-decoration: underline;
}


/* H-tags */
h1, h2, h4 {
	line-height: 1.25em;
	margin-bottom: .25em;
	font-family: Garamond, serif;
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
}


h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
	line-height: 1.15em;
	margin-bottom: .25em;
}

h3.overline {
	margin-bottom: 1em;
	color: #903;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 85%;
}


/* Top level navigation */
nav.top-level,
header.primary .logo {
	display: none;
}

/* Figure */
figure {
	width: 100%;
	font-size: .8em;
	margin-bottom: 2em;
}

figure img {
	width: 100%;
	margin: 0;
}

figure figcaption {
	margin: .25em 0 .5em 0;
}

/* Top of Page */
.top-of-page .left .lede,
.top-of-page .left .offlede {
	display: none;
}

.top-of-page .lede {
	margin-bottom: 1em;
}

.offlede div.image {
	max-width: 10em;
	float: right;
}

.offlede div.image img {
	width: 100%;
}

.offlede ul {
	clear: both;
	width: 100%;
}

.lede ul,
.offlede ul {
	margin-top: .5em;
	font-family: Garamond, serif;
	font-weight: bold;
	list-style-type: disc;
}

#people > div {
	margin-bottom: 1.5em;
}

#people > div > div {
	float: left;
	width: 100px;
	text-align: center;
	font-size: 90%;
	font-weight: bold;
}

#people img {
	margin-bottom: .25em;
	width: 100%;
}
#people > div p {
	margin-left: calc(100px + 1em);
	font-family: Garamond;
	font-size: 100%;
}

#people > div:after  {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.byline {
	margin-top: .25em;
}


/* Sponsored Content */
.sponsored {
	background-color: #eee;
	margin: 1em -1em 1em -1em;
	padding: 1em;
}

.sponsored .lede {
	margin-bottom: 0;
}

.sponsored a {
	text-decoration: none;
}

.sponsored .overline {
	font-size: .6em;
	text-transform: uppercase;
	color: #FFA500;
}


/* Beltway */
#beltway {
	text-align: center;
	margin: 1em auto;
	padding: .5em 0;
	background-color: #ccc;
	clear: both;
	margin-top: 1em;
}

#beltway > div {
	width: 75%;
	margin: 0 auto;
}

#beltway > div > img {
	width: 60%;
}

#beltway div div img {
	display: inline;
	width: 48px;
	height: 48px;
}

#beltway > div div {
	margin: .5em 0;
}

#beltway div span {
	display: inline-block;
	position: relative;
	top: -1em;
}


/* Rail */
.rail {
	border-left: 0;
	width: 100%;
	margin: 0 auto;
}

.rail .ad {
	border-bottom: 1px solid #ccc;
	text-align: center;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.latest-edition > a {
	float: left;
	width: 130px;
	height: 180px;
	padding-right: .5em;
	margin-left: .5em;
}

.latest-edition > div {
	border: 1px solid #ccc;
	margin-top: 1em;
	position: relative;
	top: 1em;
	padding: .5em 0;
}

.referral { 
	display: flex;
	padding: 0 1em;
}

.referral img {
	max-width: 160px;
	height: 60px;
	margin-right: .5em;
}


.rail .latest-edition {
	display: none;
}

main + section.advertising {
	display: none;
}

/* Sliders */
.two-col.slider {
	display: none;
}

/* Header */
header.primary {
	margin-bottom: 1em;
}

header.primary .social {
	display: none;
}

header.primary .engage li {
	display: none;
}

header.primary .engage li.login,
header.primary .engage li.login a
 {
 	padding: 0;
	display: block;
}

header.primary .engage li.login a {
	border: 1px solid #ccc;
	margin-top: .25em;
	padding: .25em .75em;
	color: #000;
	background-color: #eee;
}

/* Footer */
footer {
	clear: both;
	padding-top: 1em;
	overflow: hidden;
}

footer nav,
footer .social {
	display: none;
}

footer a {
	color: #fff;
}

footer .contact {
	background-color: #000;
	color: #fff;
	font-size: 1.2em;
	padding: 1em;
	position: relative;
}

footer .contact li {
	width: 50%;
}

footer .contact .logo {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	margin: 1em 1em 0 0;
}

footer .contact .logo img {
	width: 50%;
}

/* Article */
.article main,
.article .article-body {
	display: block;
}

.article main article {
	min-width: 100%;
}

.article-body aside {
	display: none;
}

main article .byline {
	margin-bottom: 1em;
	font-size: .75em;
	color: #4cedff;
}

main article .byline a {
	color: #4cedff;
}

main article p {
	margin: 1em 0;
}

.article #more-stories {
	display: none;
}