body {
	margin: 0 auto;
	z-index: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

body > section,
body > main {
	margin: 1em;
}

/* Anchor tags */
a {
	text-decoration: none;
	color: #111;
}

a:hover {
	text-decoration: underline;
}

a[href^="tel:"] {
	color: #80B6D2;
}

/* H-tags */
h1, h2, h4 {
	line-height: 1.25em;
	margin-bottom: .25em;
	font-family: Garamond, serif;
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
}


h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.1em;
	line-height: 1.15em;
	margin-bottom: .25em;
}

h3.overline {
	margin-bottom: 1em;
	color: #903;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 85%;
}

strong {
	font-weight: bold;
}

/* Top level navigation */
nav.top-level,
header.primary .logo {
	display: none;
}

/* Figure */
figure {
	width: 100%;
	font-size: .8em;
	margin-bottom: 2em;
}

figure img {
	width: 100%;
	margin: 0;
}

figure figcaption {
	margin: .25em 0 .5em 0;
}

/* Top of Page */
.top-of-page .left .lede,
.top-of-page .left .offlede {
	display: none;
}

.top-of-page .lede {
	margin-bottom: 1em;
}

.offlede div.image {
	max-width: 10em;
	float: right;
}

.offlede div.image img {
	width: 100%;
}

.offlede ul {
	clear: both;
	width: 100%;
}

.lede ul,
.offlede ul {
	margin-top: .5em;
	font-family: Garamond, serif;
	font-weight: bold;
	list-style-type: disc;
}

#people > div {
	margin-bottom: 1.5em;
}

#people > div > div {
	float: left;
	width: 100px;
	text-align: center;
	font-size: 90%;
	font-weight: bold;
}

#people img {
	margin-bottom: .25em;
	width: 100%;
}
#people > div p {
	margin-left: calc(100px + 1em);
	font-family: Garamond;
	font-size: 100%;
}

#people > div:after  {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.byline {
	margin-top: .25em;
}


/* Sponsored Content */
.sponsored {
	background-color: #eee;
	margin: 1em -1em 1em -1em;
	padding: 1em;
}

.sponsored .lede {
	margin-bottom: 0;
}

.sponsored a {
	text-decoration: none;
}

.sponsored .overline {
	font-size: .6em;
	text-transform: uppercase;
	color: #FFA500;
}


/* Beltway */
#beltway {
	text-align: center;
	margin: 1em auto;
	padding: .5em 0;
	background-color: #ccc;
	clear: both;
	margin-top: 1em;
}

#beltway > div {
	width: 75%;
	margin: 0 auto;
}

#beltway > div > img {
	width: 60%;
}

#beltway div div img {
	display: inline;
	width: 48px;
	height: 48px;
}

#beltway > div div {
	margin: .5em 0;
}

#beltway div span {
	display: inline-block;
	position: relative;
	top: -1em;
}

/* Rail */
.rail {
	border-left: 0;
	width: 100%;
	margin: 0 1em 0 auto;
}

.rail .ad {
	border-bottom: 1px solid #ccc;
	text-align: center;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.latest-edition > a {
	float: left;
	width: 130px;
	height: 180px;
	padding-right: .5em;
	margin-left: .5em;
}

.latest-edition > div {
	border: 1px solid #ccc;
	margin-top: 1em;
	position: relative;
	top: 1em;
	padding: .5em 0;
}

.referral { 
	display: flex;
	padding: 0 1em;
}

.referral img {
	max-width: 160px;
	height: 60px;
	margin-right: .5em;
}


.rail .latest-edition {
	display: none;
}

main + section.advertising {
	display: none;
}

/* Sliders */
.two-col.slider {
	display: none;
}

/* Header */
header.primary {
	margin-bottom: 1em;
}

header.primary .social {
	display: none;
}

header.primary .engage li {
	display: none;
}

header.primary .engage li.login,
header.primary .engage li.login a
 {
 	padding: 0;
	display: block;
}

header.primary .engage li.login a {
	border: 1px solid #ccc;
	margin-top: .25em;
	padding: .25em .75em;
	color: #000;
	background-color: #eee;
}

/* Footer */
footer {
	clear: both;
	padding-top: 1em;
	overflow: hidden;
}

footer nav,
footer .social {
	display: none;
}

footer a {
	color: #fff;
}

footer .contact {
	background-color: #000;
	color: #fff;
	font-size: 1.2em;
	padding: 1em;
	position: relative;
}

footer .contact li {
	width: 50%;
}

footer .contact .logo {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	margin: 1em 1em 0 0;
}

footer .contact .logo img {
	width: 50%;
}

/* Article */
.article main,
.article .article-body {
	display: block;
}

.article h1 {
	font-size: 2em;
	line-height: 1em;
}

.article main article {
	min-width: 100%;
}

.article-body aside {
	display: none;
}

.article-body section p {
	line-height: 1.25em;
}

article .byline {
	margin-bottom: 1em;
	font-size: .75em;
	color: #80B6D2;
}

article .byline a {
	margin-bottom: 1em;
	color: #80B6D2;
}


p {
	margin: 1em 0;
}

.article #more-stories {
	display: none;
}

#breaking-news {
	display: none;
}

/* Article Alternate */
.article.alternate .byline {
	display: flex;
	font-size: 1em;
}

.article.alternate .byline img {
	width: 70px;
	height: 70px;
	margin-right: 1em;
	border: 1px solid #ccc;
}

.article.alternate .byline {
	color: #111;
}

.article.alternate .byttl {
	display: block;
}

.article.alternate .column-name {
	font-weight: bold;
	color: #666;
	font-size: 2em;
	margin-top: .25em;
	margin-bottom: .25em;
}

.article.alternate .article-body {
	border-top: 1px solid #ccc;
}


section#four-box {
	margin: 3em;
}
section#four-box ul {
	width: 100%;
	display: block;
}

section#four-box ul li {
	width: 100%;
	float: left;
	display: flex;
	margin-bottom: 4em;
}

section#four-box ul li img {
	width: 100px;
	height: 100px;
	margin-right: 1em;
}

section#four-box ul li > div {
	margin-right: 1em;
}

section#four-box ul li a {
	display: block;
	margin: .75em 0;
}

section#four-box ul li .twitter-handle {
	font-size: .75em;
	margin-top: 1.25em;
}

main {
	display: block;
}


.row {
	width: calc(100% - 1em);
	border-bottom: 1px solid #ccc;
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 1em;
}

.row:last-child {
	border-bottom: 0;
}

.row.split {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.row > h1,
.row > h2,
.row > h3,
.row > h4 {
	flex: 0 0 100%;
}

.row.split > div {
	margin-right: 1.5em;
	width: calc(50% - 1.5em);
}

.row.split > div:last-child {
	margin-left: 1.5em;
	width: calc(50% - 1.5em);
	margin-right: 0;
}

.byline {
	margin-bottom: 1em;
    font-size: .75em;
    color: #999;
}

.byline a {
	color: #999;
	text-decoration: underline;
}

.byline a:hover {
	text-decoration: none;
}

.row.full {
	margin: 1.5em 1em;
	width: auto;
}

.three-box {
	display: flex;
	flex-wrap: wrap;
}

.three-box:after  {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.three-box li {
	margin: .5em;
	width: calc(50% - 1em);
	max-height: 421px;
	color: #ccc;
}

.three-box li h4 {
	text-align: center;
	font-size: 3em;
	font-family: Arial, Helvetica;

}

.three-box li img {
	width: 100%;
	border: 1px solid #ccc;
}

.row.full > h4:first-child {
	color: #903;
	font-family: Arial, Helvetica;
	font-size: 1.5em;	
}

.row.full.center-box > h4:first-child {
	margin-left: 1em;
}

.row.full.center-box > div {
	width: auto;
	padding: 1em;
}

.row.full > div {
	width: 84%;
	margin: 0 auto;
}

.row.full.center-box {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.center-box > div {
	background-image: url(../images/sample-full-width.jpg);
	background-position: center center;
	padding: 2em;
}

.center-box > div > div {
	width: 70%;
	margin: 5em auto;
	background-color: #fff;
	padding: 2em;
	opacity: .8;
}

#story-slider {
	display: none;
}

#tabbed-widget ul {
	display: flex;
	margin-bottom: 3em;
}

#tabbed-widget ul li {
	width: 9.875em;
	height: 4em;
	border: 1px solid #000;
}

#tabbed-widget ul li:last-child {
	border-left: 0;
}

#tabbed-widget ul li a {
	width: 100%;
	height: 100%;
	display: block;
}

#tabbed-widget ul li.ui-tabs-active {
}

#tabbed-widget ul li.ui-tabs-active:after {
background-image: url('../images/tabbed_widget-down_arrow.png');
    background-size: 60px 34px;
    display: inline-block;
    width: 60px; 
    height: 34px;
    margin: 0 33%;
    content:"";
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-us main {
	line-height: 1.1em;
}

.contact-us .row {
	font-size: 85%;
}

.contact-us .row > p {
	margin-right: 0;
}

.contact-us .row .overline {
	font-size: 100%;
}

.contact-us .row a + label {
	padding-left: 1em;
}

.contact-us .row.split ul + h3 {
	margin-top: 3em;
}

.about-us .row.full h5 {
	margin-top: .5em;
	font-size: 1.5em;
	font-weight: bold;
}

.about-us .row.full h5 span {
	margin-left: 1.5em;
}

#email-sub {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#email-sub legend {
	flex: 0 0 100%;
	margin-bottom: 1em;
}

#email-sub > div {
	width: 100%;
	flex: 0 0 100%;
}

#email-sub > div > div {
	margin-bottom: .5em;
}

#email-sub span {
	display: block;
	margin-top: 1em;
	flex: 0 0 100%;
	text-align: center;
}

#email-sub span input {
	font-size: 1em;
	border: 1px solid #ccc;
	padding: .25em;
	margin: 0;
	height: 2.7em;
	width: 100%;
}

#email-sub span input[type=submit] {
	margin-top: .5em;
	padding: 1em;
	height: auto;
	width: auto;
	text-transform: lowercase;
}
