body {
	margin: 0 auto;
	z-index: 1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

body > section,
body > main {
	margin: 1em;
}

body > main {
	margin-top: 60px;
}

.topic-page main section {
	border-bottom: 0;
}

.topic-page .row.split .lede {
	margin-bottom: 2em;
}

.tease {
	line-height: 1.25em;
	font-size: 90%;
	color: #666;
}

/* Anchor tags */
a {
	text-decoration: none;
	color: #111;
}

a:hover {
	text-decoration: none;
	color: #0078c3;
}

/* H-tags */
h1, h2, h4 {
	line-height: 1.25em;
	margin-bottom: .25em;
	font-family: Garamond, serif;
	font-weight: bold;
}

h1 {
	font-size: 1.8em;
	line-height: 1.08em;
}


h2 {
	font-size: 1.2em;
	line-height: 1.08em;
}

h3 {
	font-size: 1.1em;
	line-height: 1.15em;
	margin-bottom: .25em;
}

.overline {
	margin-bottom: 1em;
	color: #903;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	flex: 0 0 100%;
}

.overline.black {
	color: #000;
	text-transform: none;
}

.overline.grey {
	color: #6a6a6a;
	text-transform: none;
}


h1.overline {
	font-size: 2em;
	text-transform: none;
	margin-bottom: .5em;
}

h2.overline {
	font-size: 1em;
}

h3.overline {
	font-size: .85em;
}

strong {
	font-weight: bold;
}

/* Top level navigation */
nav.top-level,
header.primary .logo {
	display: none;
}

.nav-tools {
  	position: fixed;
  	width: 100%;
  	top: 0;
  	z-index: 20;
}

/* Figure */
figure {
	width: 100%;
	font-size: .8em;
	margin: 0 auto 2em auto;
	text-align: center;
}

figure img {
	width: 100%;
	margin: 0;
}

figure figcaption {
	margin: .25em 0 .5em 0;
	color: #7b7c7c;
}

/* Top of Page */
.top-of-page .left .lede,
.top-of-page .left .offlede {
	display: none;
}

.top-of-page .lede {
	margin-bottom: 1em;
}

.offlede:after  {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.offlede div.image {
	max-width: 10em;
	float: right;
}

.offlede div.image img {
	width: 100%;
}

.offlede.square .image {
	float: left;
	margin-right: 1em;
	width: 90px;
	margin-bottom: .5em;
}

.offlede.square .image img{
	height: 90px;
	width: 90px;
}
.offlede ul {
	clear: both;
	width: 100%;
}

.offlede ul a {
    font-size: 1.2em;
    line-height: 1.08em;
}

.lede ul,
.offlede ul {
	margin-top: .5em;
	font-family: Garamond, serif;
	font-weight: bold;
	list-style-type: disc;
}

#people {
	border-top: 1px solid #95989a;
	margin-top: 1em;
	padding-top: 1em;
}

#people > div {
	margin-bottom: 1.5em;
}

#people > div > div {
	float: left;
	width: 100px;
	text-align: center;
	font-size: 90%;
	font-weight: bold;
}

#people img {
	margin-bottom: .25em;
	width: 100%;
}
#people > div p {
	margin-left: calc(100px + 1em);
	font-family: Garamond;
	font-size: 100%;
}

#people > div:after  {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.byline {
	margin-top: .25em;
}


/* Sponsored Content */
.sponsored {
	background-color: #eee;
	margin: 1em -1em 1em -1em;
	padding: 1em;
}

.sponsored .lede {
	margin-bottom: 0;
}

.sponsored a {
	text-decoration: none;
}

.sponsored .overline {
	font-size: .6em;
	text-transform: uppercase;
	color: #FFA500;
	margin-bottom: 0;
}


/* Beltway */
#beltway {
	text-align: center;
	margin: 1em auto;
	padding: .5em 0;
	background-color: #ccc;
	clear: both;
	margin-top: 1em;
}

#beltway > div {
	width: 75%;
	margin: 0 auto;
}

#beltway > div > img {
	width: 60%;
}

#beltway > div > div img {
	display: inline;
	width: 34px;
	margin-top: 11px;
}

#beltway > div > div {
	margin: .5em 0;
	position: relative;
}

#beltway .icon-mail {
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: #0073C6;
	border-radius: 25px;
	margin: .5em auto;
}

#beltway div span {
	display: block;
	position: relative;
}

#beltway input,
#beltway select {
	margin: 0;
	width: calc(50% - 10px);
	float: left;
}

#beltway form input:last-child {
	float: none;
	clear: both;
	margin-top: .5em;
}


#beltway input[type=submit] {
	width: 77px;

}

#beltway input {
	border-left: 0;
}

#beltway:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;	
}

.ad {
	margin-bottom: 1em;
}

/* Rail */
.rail {
	border-left: 0;
	width: 100%;
	margin: 0 auto;
}

.rail .ad {
	border-bottom: 1px solid #95989a;
	text-align: center;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.latest-edition > a {
	float: left;
	width: 130px;
	height: 180px;
	padding-right: .5em;
	margin-left: .5em;
	position: relative;
	z-index: 2;
}

.latest-edition > div {
	border: 1px solid #95989a;
	margin-top: 1em;
	position: relative;
	top: 1em;
	padding: .5em 0;
}

.referral {
	max-width: 480px;
	margin: 0 auto;
}

.referral span { 
	display: flex;
}

.referral div,
.latest-edition div {
	color: #666;
	font-size: 90%;
}

.referral img {
	max-width: 160px;
	height: 60px;
	margin-right: .5em;
}


.rail .latest-edition {
	display: none;
}

main + section.advertising {
	display: none;
}

/* Sliders */
.two-col.slider {
	display: none;
}

.slider-container {
	display: none;
}

/* Header */
header.primary {
	margin-bottom: 1em;
	position: relative;
}

header.primary .social {
	display: none;
}

header.primary .engage li {
	display: none;
}

header.primary .engage li.login,
header.primary .engage li.login a
 {
 	padding: 0;
	display: block;
}

header.primary .engage li.login {
	display: block;
	border: 1px solid #95989a;
	margin-top: .25em;
	padding: .25em .75em;
	color: #000;
	background-color: #eee;
	cursor: pointer;
}

/* Footer */
footer {
	clear: both;
	padding-top: 1em;
	overflow: hidden;
}

footer nav,
footer .social {
	display: none;
}

footer a {
	color: #fff;
}

footer .contact {
	background-color: #000;
	color: #fff;
	font-size: 1.2em;
	padding: 1em;
	position: relative;
}

footer .contact li {
	width: 50%;
}

footer .contact .logo {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	margin: 1em 1em 0 0;
}

footer .contact .logo img {
	width: 50%;
}

/* Article */
.article main,
.article .article-body {
	display: block;
}

.article h1 {
	font-size: 2em;
	line-height: 1em;
}

.article main article {
	min-width: 100%;
}

.article-body aside {
	display: none;
}

.article-body section p {
	line-height: 1.25em;
	color: #666;
}

article .byline {
	margin-bottom: 1em;
	font-size: .75em;
}

article .byline a {
	margin-bottom: 1em;
	color: #80B6D2;
}


p {
	margin: 1em 0;
}

.article #more-stories {
	display: none;
}

#breaking-news {
	display: none;
}

/* Article Alternate */
.article .byline {
	display: flex;
	font-size: 1em;
}

.article .byline img {
	width: 70px;
	height: 70px;
	margin-right: 1em;
}

.article. .byline {
	color: #111;
}

.article .byttl {
	display: block;
}

.article .column-name {
	font-weight: bold;
	color: #666;
	font-size: 2em;
	margin-top: .25em;
	margin-bottom: .25em;
}

.article.alternate .article-body {
	border-top: 1px solid #95989a;
}


section#four-box {
	margin: 3em;
}
section#four-box ul {
	width: 100%;
	display: block;
}

section#four-box ul li {
	width: 100%;
	float: left;
	display: flex;
	margin-bottom: 4em;
}

section#four-box ul li img {
	width: 100px;
	height: 100px;
	margin-right: 1em;
	border-radius: 50px;
}

section#four-box ul li > div {
	margin-right: 1em;
}

section#four-box ul li a {
	display: block;
	margin: .75em 0;
}

section#four-box ul li a:not(.twitter-handle) {
	font-family: Garamond, serif;
	font-size: 1.5em;
}

section#four-box ul li .twitter-handle {
	font-size: .75em;
	margin-top: 1.25em;
}

main {
	display: block;
}


.row {
	width: 100%;
	border-bottom: 1px solid #95989a;
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	margin-right: 1em;
}

.row:last-child {
	border-bottom: 0;
}

.row > h1,
.row > h2,
.row > h3,
.row > h4 {
	flex: 0 0 100%;
}

.byline {
	margin-bottom: 1em;
    font-size: .75em;
    color: #999;
}

.byline a {
	color: #999;
	text-decoration: underline;
}

.byline a:hover {
	text-decoration: none;
}

.row.full {
	margin: 1.5em 1em;
	width: auto;
}

.three-box {
	display: flex;
	flex-wrap: wrap;
}

.three-box:after  {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.three-box li {
	margin: .5em;
	width: calc(50% - 1em);
	max-height: 421px;
	color: #ccc;
}

.three-box li h4 {
	text-align: center;
	font-size: 3em;
	font-family: Arial, Helvetica;

}

.three-box li img {
	width: 100%;
	border: 1px solid #95989a;
}

.row.full > h4:first-child {
	color: #903;
	font-family: Arial, Helvetica;
	font-size: 1.5em;	
}

.homepage .row.full > h4.overline {
	font-size: 1em;
}

.row.full.center-box > h4:first-child {
	margin-left: 1em;
}

.row.full.center-box > div {
	width: auto;
	padding: 1em;
}

.row.full > div {
	width: 84%;
	margin: 0 auto;
}

.row.full.center-box {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.about-us .center-box > div {
	background-image: url(../images/about_us-lede_image.png);
	background-position: center center;
	padding: 2em;
	background-repeat: no-repeat;
}

.center-box > div > div {
	width: 70%;
	margin: 5em auto;
	background-color: #fff;
	padding: 2em;
	opacity: .8;
}

#story-slider {
	display: none;
}

#tabbed-widget ul {
	display: flex;
	margin-bottom: 3em;
}

#tabbed-widget ul li {
	width: 9.875em;
	height: 4em;
	border: 1px solid #000;
}

#tabbed-widget ul li:last-child {
	border-left: 0;
}

#tabbed-widget ul li a {
	width: 100%;
	height: 100%;
	display: block;
}

#tabbed-widget ul li.ui-tabs-active {
}

#tabbed-widget ul li.ui-tabs-active:after {
background-image: url('../images/tabbed_widget-down_arrow.png');
    background-size: 60px 34px;
    display: inline-block;
    width: 60px; 
    height: 34px;
    margin: 0 33%;
    content:"";
    background-position: center center;
    background-repeat: no-repeat;
}

.contact-us main {
	line-height: 1.1em;
}

.contact-us .row {
	font-size: 85%;
}

.contact-us .row > p {
	margin-right: 0;
}

.contact-us .row a + label {
	padding-left: 1em;
}

.contact-us .row.split ul + h4 {
	margin-top: 3em;
}


#email-sub span input {
	font-size: 1em;
	border: 1px solid #ccc;
	padding: .25em;
	margin: 0;
	height: 2.7em;
	width: calc(100% - 82px);
}

#email-sub span input[type=submit] {
	max-width: 71px;
	padding: 1em;
	border-left: none;
	height: auto;
	width: auto;
	text-transform: lowercase;
}

.about-us .row.full h5 {
	margin-top: .5em;
	font-size: 1.5em;
	font-weight: bold;
}

.about-us .row.full h5 span {
	margin-left: 1.5em;
}

#email-sub {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#email-sub legend {
	flex: 0 0 100%;
	margin-bottom: 1em;
}

#email-sub > div {
	width: 100%;
	flex: 0 0 100%;
}

#email-sub > div > div {
	margin-bottom: .5em;
}

#email-sub span {
	display: block;
	margin-top: 1em;
	flex: 0 0 100%;
	text-align: center;
}

input,
select {
	font-size: 1em;
	border: 1px solid #95989a;
	padding: .25em;
	margin: 0;
	height: 2.7em;
	width: calc(100% - .5em);
	border-radius: 0;
	background-color: #fff;
	-webkit-appearance: none;
  	-webkit-border-radius: 0px;
  	box-sizing: content-box;
}

select {
	background: #fff url('../images/icon-down_arrow.png') no-repeat;
    background-size: 20px;
    background-position:  right 10px center;
}

input[type=submit] {
	margin-top: .5em;
	padding: 1em;
	height: auto;
	width: auto;
	text-transform: lowercase;
	background-color: #0073C6;
	color: #fff;
	font-weight: bold;
	cursor: pointer;	
}

input[type=checkbox] {
	margin-top: 0;
	padding: 0;
	height: initial;
	width: initial;
	text-transform: none;
	box-sizing: border-box;
	-webkit-appearance: checkbox;
    margin: 0 0.5ex;
    padding: initial;
    border: initial;
}

ul.link-list {
	font-family: Garamond;
	font-weight: bold;
	line-height: 2em;
	font-size: 1.1em;
	margin-bottom: 2em;
}

ul.link-list.small {
	line-height: 1.1em;
}

ul.link-list.small li {
	margin-bottom: .5em;
}

ul.link-list.small li div:last-child {
	font-weight: normal;
	font-size: .75em;
	font-family: Arial, Helvetica;
}

#more-stories li {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1em;
	border-bottom: 1px solid #999;
}

#more-stories li > div,
#more-stories li > a
 {
 	display: block;
	width: 100%;
}

#more-stories li > a img{
	width: 100%;
	margin-bottom: .5em;
}

#more-stories li > div {
	order: 2;
}

#more-stories li > a {
	order: 1;	
}


.mosaic {
	max-width: 595px;
	width: 595px;
}

.mosaic .full,
.mosaic img
 {
	width: 100%;
}

.mosaic .full,
.mosaic .split > div {
	position: relative;
}

.mosaic a > div {
	position: absolute;
	bottom: 0;
	margin: 1em;
}

.mosaic .split a > div {
	margin: .5em;
}

.mosaic .offlede {
	background-color: #fff;
	opacity: .95;
	padding: .5em;
}

.mosaic .overline {
	display: inline-block;
	padding: .5em;
	background-color: #000;
	color: #fff;
}

.mosaic .split > div {
	width: calc(50%);
	float: left;
}

.mosaic .split:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

.mosaic > div:last-child > :nth-child(2) {
	float: right;
}


.mosaic .split > .upsell {
	width: 100%;
	float: none;
	background-color: #999;
	color: #fff;
	height: 92px;
	max-height: 92px;
	clear: both;
}

.mosaic .upsell a {
	color: #fff;
}

.upsell > div {
	padding: .5em;
}

.upsell > :not(.leadout) {
	width: 75%;
	margin: 0 auto;
	font-size: 1.5em;
}



.leadout {
	flex: 0 0 100%;
	text-align: right;
	font-size: 80%;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 0;
	padding-bottom: 0;
}

.leadout a {
	color: #999;
}

.col-30-60.jobs .col-60 {
	display: none;
	margin-top: -6em;
}


.col-30-60.jobs .col-30 .featured-job {
	margin-bottom: 3em;
}

.mobile-logo {
	height: 30px;
	width: auto;
	margin: .4em auto 0 auto;
	text-align: center;
}

.listing {
	text-align: center;
}

.listing p {
	text-align: left;
}

.listing span {
	text-transform: uppercase;
}

.listing h3 {
	text-align: left;
}

.serp .row {
	border-bottom: 0;
}

.serp main form {
	margin-bottom: 2em;
}

.serp main form label {
	margin: 1em 0 .5em 0;
	display: block;
}

.serp-individual {
	border-bottom: 1px solid #95989a;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.pagination-counter li {
	display: inline-block;
	margin: 0 .5em;
}

.pagination-counter .active a,
.pagination-counter .active a:hover {
	font-weight: bold;
	cursor: default;
	color: #000;
}

.lede.feature {
	text-align: center;
	border-bottom: 1px solid #95989a;
}

.lede.feature .tease,
.lede.feature figcaption {
	text-align: left;
}

.lede.feature .overline {
	text-transform: uppercase;
}