.hamburger {
  z-index: 2;
  cursor: pointer;
  width: auto;
  float: left;
  margin: .5em 0 .5em 2em;
  margin-top: calc(.5em + 2px);
  border: 1px solid #111;
  padding: 2px 1em;
  background-color: #eee;
}

.hamburger .close {
  display: none;
}

.hamburger.active .lines .line{
  display: none;
}

.hamburger.active .close {
  display: block;
  float: left;
  font-size: 90%;
  font-weight: bold;
  color: #999;
  margin-right: 0;
}

.lines {
  float: left;
  margin-top: 3px;
}

.line {
  width: 20px;
  height: 2px;
  background: #222;
  margin-bottom: 2px;
}

.menu {
  width: auto;
  height: 100%;
  background: #222;
  position: absolute;
  top: 44px;
  left: -320px;
  transition: left .1s;
  z-index: 2;
  overflow-y: scroll;
}

/*
.menu-item:first-child {
  margin-top: 180px;
}
*/

.menu--open {
  left: 0;
}


.menu-item a {
  color: #fff;
}
.menu-item,
.menu-item.form {
  color: #fff;
  width: 100%;
  display: block;
  padding: .75rem 1rem;
  box-sizing: border-box;

}

ul:not(:first-child) .menu-item {
  padding: .2rem 1rem;
}

.menu-item a:hover {
  cursor: pointer;
}

.hamburger > div:not(.lines) {
  float: right;
  text-transform: uppercase;
  font-size: 75%;
  margin-top: 2px;
  margin-right: 7px;
  font-weight: bold;
}

.hamburger > div:not(.lines):not(.close) {
  display: none;
}

.menu ul {
  font-size: 90%;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1.5em;
}

.menu ul li:first-child,
.menu ul:first-child li {
  font-weight: bold;
}

.menu ul:first-child {

padding-top: 2em;

}

.menu ul:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}

