.hamburger {
  z-index: 2;
  cursor: pointer;
  width: 80px;
  float: left;
  margin: .5em 0 .5em 2em;
  margin-top: calc(.5em + 2px);
  border: 1px solid #111;
  padding:2px;
  background-color: #eee;
}

.hamburger .close {
  display: none;
}

.hamburger.active .lines .line{
  display: none;
}

.hamburger.active .close {
  display: block;
  margin: 1px .75em 0 .75em;
  float: left;
  font-size: 90%;
  font-weight: bold;
  color: #999;

}

.lines {
  float: left;
  margin-top: 3px;
}

.line {
  width: 20px;
  height: 2px;
  background: #222;
  margin-bottom: 2px;
}

.menu {
  width: 320px;
  height: auto;
  background: #222;
  position: absolute;
  top: 44px;
  left: -320px;
  transition: left .1s;
}

/*
.menu-item:first-child {
  margin-top: 180px;
}
*/

.menu--open {
  left: 0;
}

.menu-item a,
.meun-item.form {
  color: #fff;
  width: 100%;
  display: block;
  padding: .5rem 1rem;
  box-sizing: border-box;

}

.menu-item a:hover {
  cursor: pointer;
}

.hamburger > div:not(.lines) {
  float: right;
  text-transform: uppercase;
  font-size: 75%;
  margin-top: 2px;
  margin-right: 7px;
  font-weight: bold;
}