/*
Widths: 1280px
		980px
		768px
		480px
*/


@media screen and (max-width: 1280px) {
	body {
		background-color: #f00;
	}
}

@media screen and (max-width: 980px) {
	body {
		background-color: #0f0;
	}
}

@media screen and (max-width: 768px) {
	body {
		background-color: #00f;
	}

	.top-of-page {
		width: 100%;
		max-width: 100%;
		display: block;

	}

	.top-of-page .center {
		width: 100%;
		min-width: 100%;
		border: 0;
	}

	section.advertising img {
		width: 100%;
	}

	header .logo img {
		width: 90%;
	}


}

@media screen and (max-width: 480px) {
	body {
		background-color: #fff;
	}
}
