/* slider */
.slider-container {
	background-color: #eee;
	width: 100%;
	position: relative;
	margin: 0;
}

.slider-container .slick-prev,
.slider-container .slick-next {
	top: 40%;
}

.slider-container .slick-next {
	right: 20px;
}

.slider {
  width: 100%;
  height: auto;
  display: flex;
  padding-left: 0;
  flex: 0 0 100%;
}

@media screen and (min-width: 980px) {
	.slider-container .slick-prev,
	.slider-container .slick-next {
		top: 50%;
	}
}

.slider .slide {
  width: 600px;
  flex-shrink: 0;
  height: 100%;
  margin: 1em;
}

.slider .slide img {
	width: 100%;
	margin-bottom: .5em;
}

.slider-container header h4 {
	color: #903;
	text-transform: uppercase;
	margin: .75em 0 .5em 3em;
	font-weight: bold;	
	float-left;
	display: inline-block;
}

.slider-container header h4 span {
	text-transform: none;
}

.slider-container header .controls {
	float: right;
	margin: .25em 3em .5em 0;	
	font-size: 2em;
	line-height: 1em;
	font-weight:bold;
	font-family: garamond;
	color: #999;
}

.slider-container header .controls span.active {
	color: #000;
}

.slide .date {
	float: left;
	text-align: center;
	text-transform: uppercase;
}

.slide .date .month {
	font-size: .75em;
	font-weight: bold;
}

.slide .date .date {
	float: none;
	font-weight: bold;
	font-size: 1.6em;
}

.slide .date .day {
	font-weight: bold;
	font-size: .75em;
}

.slide h4 {
	margin-left: 4.5em;
	text-align: left;
}

/* Slick Theme overrides */
.slider-container .slick-dots {
	position: static;
}

.slick-prev,
.slick-next {
	z-index: 5;
	background-color: #f00;
}

.slick-prev {
	left: 16px;
}

/* Events Slider Small */
.events-slider-day .h-event {
	margin-bottom: .5em;
	border-bottom: 1px solid #95989a;
	padding-bottom: 1em;
}

.events-slider .p-name {
	font-weight: bold;
	color: #000;
	text-transform: none;
	font-family: Garamond;
	font-size: 1.1em;
}

.events-slider-day .h-event .p-location {
	font-size: 75%;
	line-height: 1.5em;
}

.events-slider-day .h-event time {
	display: block;
	float: right;
	border: 2px solid #903;
	width: 5em;
	padding: .25em 0;
	font-size: 80%;
	text-align: center;
}

.events-slider-day .h-event time span {
	display: none;
}

.events-slider-day h3 {
	text-align: center;
}

.events-slider .slick-prev,
.events-slider .slick-next {
	top: 8px;
}

.events-slider .slick-prev {
	left: 0;
}

.events-slider .slick-next {
	right: 0;
}

/* Events Slider large */
.events-slider-large {
	width: 100%;
}

.events-slider-large:after  {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}


.events-slider-large .h-event {
	width: 20%;
	float: left;
	margin-left: 8%;
	margin-top: 1em;
}

.events-slider-large .h-event .dt-start {
	width: 100%;
	background-color: #903;
	text-align: center;
	color: #fff;
	border: 1px solid #000;
	font-weight: bold;
	margin-top: .5em;
	padding: .5em 0;
	display: block;
}

.events-slider-large .h-event .dt-start span {
	display: none;
}

.events-slider-large .h-event img {
	width: 100%;
	margin-bottom: 1.5em;
}


.events-slider-large .h-event + img {
	width: calc(70% - 3.5em);
	float: right;
	padding: 0 1.5em 0 2em;
}

.events-slider .slick-prev {
	left: 0;
}

.events-slider .slick-next {
	right: 0;
}

.two-col-slider .slides .slick-prev  {
	left: 3px;
}

.two-col-slider .slides .slick-next {
	right: 3px;
}

.slick-prev, .slick-next {
	width: 32px;
	height: 32px;
}

.slick-prev:before, .slick-next:before {
	font-size: 32px;
	border: 1px solid #95989a;
	border-radius: 1.5em;
}
